.navbar {
    background-color: #00264d;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;
  animation: fadeInLogo 1s ease-in-out forwards;
  opacity: 0;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Animation */
@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
  
  .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    position: relative;
  }
  
  .nav-links a::after {
    content: "";
    height: 2px;
    background-color: white;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  